@page
@model Inkshelf.Pages.LoginModel
<p class="logo"><img src="~/img/logo-black.png" alt="Inkshelf" /></p>
@if (Model.Error is not null) { <p role="alert">@L[Model.Error]</p> }
<form method="post" class="login-form">
    <p><label>@L["Username"]<br /><input name="Username" autocomplete="username" /></label></p>
    <p><label>@L["Password"]<br /><input name="Password" type="password" autocomplete="current-password" /></label></p>
    <p><button type="submit">@L["Log in"]</button></p>
</form>
