@model Inkshelf.Pages.LibraryModel
<nav class="pager">
    @if (Model.Pager.HasPrev)
    {
        <a href="@Model.ListingHref(Model.Sort, Model.Desc, Model.Pager.DisplayPage - 1)">&larr; Prev</a>
    }
    <span>Page @Model.Pager.DisplayPage of @Math.Max(1, Model.Pager.TotalPages)</span>
    @if (Model.Pager.HasNext)
    {
        <a href="@Model.ListingHref(Model.Sort, Model.Desc, Model.Pager.DisplayPage + 1)">Next &rarr;</a>
    }
</nav>
